html {
  font-size: 62.5;
}

body {
  width: auto;
  color: aliceblue;
  background-color: rgb(61, 58, 58);
}

#sailio {
  margin: 4rem 1.5rem 1.5rem 1.5rem;
}

/* The navigation bar */

nav {
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(26, 26, 82);
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}
ul a:hover {
  background: #a69f9f;
  color: #f2f2f2;
}

/* Main content */
.main {
  background-image: url(./assets/backgro.jpeg);
  max-width: 100%;
  margin-top: auto;
  padding: 4rem;
}

#mainpart {
  background-color: rgba(33, 28, 28, 0.855);
  max-width: 100%;
  height: 300px;
  margin: 1rem;
  padding: 1rem;
}

#mainpart h1,
#mainpart h2 {
  color: #da6207;
  font-size: 1.5em;
  margin: 1rem;
}

ol {
  margin-left: 3rem;
}

#mainpart li a {
  color: bisque;
  text-decoration: none;
}

#mainpart li {
  padding: 5px;
  list-style-type: decimal;
}
/* Menneisyys section */
#menne {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  background-color: rgb(244, 247, 250);
}

.container {
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  color: black;
  background-color: rgb(237, 229, 219);
  width: 100%;
}

.menne-sect {
  border: 2px solid rgb(179, 175, 175);
  background: white;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 100%;
}

.container img {
  max-width: 100%;
  max-height: 100%;
}
#menne h1 {
  font-size: 2rem;
  color: black;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

#menne h2 {
  font-weight: bold;
  padding: 5px;
}
#menne a {
  font-size: 1rem;
  color: peachpuff;
}
/* Nykyisyys section */

#nyky {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.nyky-sect {
  flex-direction: row;
  padding: 10px;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: black;
}

/* Tulevaisuus section */
#tule {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#tule img,
#nyky img {
  max-width: 90%;
  margin: 1rem;
  padding: 0rem;
}

#tule h3,
#nyky h3,
h3 {
  color: #da6207;
  margin: 10px;
  font-size: 2rem;
}
#tule p,
#nyky p {
  margin: 1rem;
  padding: 0rem;
  color: #fdfdfd;
}
.tule-sect {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: black;
}

/* form assetukset */
#myForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 1rem;
}
.contact {
  margin: 10px;
}
button {
  display: block;
  padding: 10px;
  background-color: #da6207;
  color: #fdfdfd;

  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
}

/* footer assetukset  */

footer p {
  margin: 10px;
  padding: 5px;
  word-spacing: 10px;
}

/* RESPONSIIVISUUS*/

/*TABLET*/
@media only screen and (min-width: 470px) {
  nav li {
    display: inline;
    float: right;
  }

  nav {
    flex-direction: row;
    max-width: 100%;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .nyky-sect {
    display: flex;
    flex-direction: column;
  }
  .nyky-photo,
  .tule-photo {
    align-items: center;
  }
}

/*DESKTOP*/
@media only screen and (min-width: 890px) {
  nav li {
    display: inline;
    float: right;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .nyky-sect {
    display: flex;
    flex-direction: row;
  }
  .tule-sect {
    display: flex;
  }
  .tule-photo {
    float: left;
  }
  #tule img,
  #nyky img {
    min-width: 400px;
    margin: 1rem;
    padding: 0rem;
    max-width: 100%;
  }
  .contact {
    display: grid;
    grid-template-columns: 2fr 80%;
  }
}
