html {
  font-size: 62.5;
}

body {
  width: auto;
  color: aliceblue;
  background-color: rgb(61, 58, 58);
}

#sailio {
  margin: 4rem 1.5rem 1.5rem 1.5rem;
}

/* The navigation bar */

#navbar {
  box-sizing: border-box;
  padding: 1rem;
  background-color: rgb(22, 22, 24);
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

#navbar li {
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 5px 0 5px;
  font-size: 9px;
}
#navbar a {
  color: white;
  padding: 5px;
  text-decoration: none;
}
ul li:first-child {
  flex: 1;
}

ul a:hover {
  background: #a69f9f;
  color: #f2f2f2;
}
figure img {
  max-width: 100%;
}

/* Main content */
.main {
  background-image: url(./assets/backgro.jpeg);
  max-width: 100%;
  margin-top: auto;
  padding: 0.5rem;
}

#mainpart {
  background-color: rgba(33, 28, 28, 0.855);
  max-width: 100%;
  margin: 5px;
  padding: 10px;
}

#mainpart h1,
#mainpart h2 {
  color: #da6207;
  margin: 10px;
}

ol {
  margin-left: 3rem;
}

#mainpart li a {
  color: bisque;
  text-decoration: none;
}

#mainpart li {
  padding: 5px;
  list-style-type: decimal;
}

/* buttons click */

.section {
  position: relative;
  border-bottom: 1.5px #da6207 solid;
}
.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -70px;
  left: 0;
  visibility: hidden;
}

/* Menneisyys section */
#menne {
  box-sizing: border-box;
  margin: 0rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(244, 247, 250);
}

.container {
  flex-direction: column;
  justify-content: space-between;
  color: black;
  background-color: rgb(237, 229, 219);
  width: 100%;
}

.menne-sect {
  border: 2px solid rgb(179, 175, 175);
  background: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  max-width: 100%;
}
.container img {
  margin: 5px 0 auto;
  width: 100%;
}

#menne h1 {
  color: #da6207;
  margin-bottom: 1rem;
}

#menne h2 {
  font-weight: bold;
  padding: 5px;
}
#menne p {
  padding: 5px;
  font-size: 10px;
  text-align: justify;
}
#menne a {
  color: peachpuff;
}

/* Nykyisyys section */

#nyky {
  box-sizing: border-box;
  margin: 5px;
}

/* Tulevaisuus section */
#tule {
  box-sizing: border-box;
  margin: 5px;
}

#tule h3,
#nyky h3,
h3 {
  color: #da6207;
  margin: 10px;
}
#tule p,
#nyky p {
  text-align: justify;
  margin: 1rem;
  padding: 0rem;
  color: #fdfdfd;
}
.tule-sect {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  color: black;
}

/* form assetukset */
#myForm {
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 1rem;
}
.contact {
  margin: 5px;
}
button {
  display: block;
  padding: 5px;
  background-color: #da6207;
  color: #fdfdfd;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
}

/* footer assetukset  */

footer p {
  margin: 10px;
  padding: 5px;
  word-spacing: 10px;
}

/* RESPONSIIVISUUS*/

/*TABLET*/
@media only screen and (min-width: 426px) {
  #navbar li {
    font-size: 12px;
  }
  .container {
    display: flex;
    flex-direction: row;
  }

  #nyky figure {
    width: 14rem;
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  #tule figure {
    width: 14rem;
    float: right;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  #tule p,
  #nyky p {
    text-align: justify;
  }

  .contact {
    display: grid;
    grid-template-columns: 2fr 75%;
  }
}

/*DESKTOP*/
@media only screen and (min-width: 769px) {
  #navbar li {
    font-size: 15px;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  #nyky {
    display: flex;
    flex-direction: row;
  }
  #tule {
    display: flex;
    flex-direction: row-reverse;
  }

  #tule figure {
    margin: 20px 0px 20px 0px;
    width: 150rem;
  }
  #nyky figure {
    margin: 20px 0px 20px 0px;
    width: 150rem;
  }
  .contact {
    display: grid;
    grid-template-columns: 2fr 80%;
  }
}
